/* src/LandingPage.css */
.landing-page {
    text-align: center;
    color: #fff;
    background-color: #1c1c1c;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-header {
    margin-bottom: 40px;
}

.landing-header h1 {
    font-size: 3rem;
    margin: 0;
}

.landing-header p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.landing-button {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    display: inline-block;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

.landing-button:hover {
    background-color: #e67e22;
    transform: scale(1.05);
}

.landing-info {
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

.landing-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-card {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-card h3 {
    font-size: 1.5rem;
}

.info-card p {
    font-size: 1rem;
}

.landing-footer {
    margin-top: 40px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .info-card {
        width: 80%;
        margin: 10px auto;
    }
}
